---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About us">
  <article class="shadow-xl rounded-lg px-8 pt-6 pb-8 mb-4">
    <p class="mb-4">
      <h3 class="mb-2 text-lg font-bold">Welcome to QuickTechPoints!</h3> We are
      a team of that is passionate about keeping you up-to-date with the latest news
      in a quick and easy-to-read format. Our mission is to provide you with short
      and concise articles on a variety of topics to ensure you always stay informed
      without the need to read long and boring articles.
    </p>
    <p class="mb-4">
      We understand that staying up-to-date with the fast-paced world of news
      can be overwhelming and time-consuming. That's why we've made it our goal
      to provide you with summaries that highlight the most important
      information you need to know.
    </p>
    <p class="mb-4">
      We are dedicated to delivering accurate and reliable news and analysis. We
      are committed to staying unbiased and presenting multiple perspectives to
      help you form your own informed opinions.
    </p>
    <p class="mb-4">
      We believe that staying informed with the latest news is important, and we
      are excited to be a part of this journey. Our goal is to help you stay
      informed and engaged with the latest news, whether you're a seasoned news
      reader or just getting started.
    </p>
    <p>
      Thank you for visiting our website, and we hope you find our articles
      informative and helpful. If you have any questions or feedback, please
      don't hesitate to reach out to us.
    </p>
  </article>
</Layout>
