---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Privacy Policy for QuickTechPoints">
  <article class="shadow-xl rounded-lg px-8 pt-6 pb-8 mb-4">
    <h1 class="text-xl font-bold mb-1">Privacy Policy for QuickTechPoints</h1>
    <p class="mb-4">
      At QuickTechPoints, we are committed to protecting your privacy. This
      Privacy Policy explains how we collect, use, disclose, and protect your
      personal information when you use our website. By using QuickTechPoints,
      you agree to the terms of this Privacy Policy.
    </p>
    <h2 class="text-xl font-bold mb-1">Information we collect</h2>
    <p class="mb-4">
      When you use QuickTechPoints, we may collect the following types of
      personal information:
    </p>
    <ol class="list-disc list-inside">
      <li>
        Contact information, such as your name and email address, if you choose
        to provide it to us.
      </li>
      <li>
        Information about your use of our website, including your IP address,
        browser type, and operating system.
      </li>
      <li>
        Information about your interactions with our website, including the
        articles you read and the pages you visit.
      </li>
      <li>
        Any other information you choose to provide to us, such as comments or
        feedback.
      </li>
    </ol>
    <h2 class="text-xl font-bold mb-1">How we use your information</h2>
    <p class="mb-4">
      We may use your personal information for the following purposes:
    </p>
    <ol class="list-disc list-inside mb-4">
      <li>To provide you with access to our website and its content.</li>
      <li>
        To communicate with you about our website, including updates and
        promotions.
      </li>
      <li>To improve our website and its content.</li>
      <li>To analyze trends and user behavior on our website.</li>
      <li>To comply with applicable laws and regolations.</li>
    </ol>
    <h2 class="text-xl font-bold mb-1">Disclosure of your information</h2>
    <p class="mb-4">
      We may disclose your personal information to the following types of third
      parties:
    </p>
    <ol class="list-disc list-inside mb-4">
      <li>
        Service providers who help us operate our website, such as website
        hosting providers and analytics providers.
      </li>
      <li>
        Law enforcement or other government authorities if required by law.
      </li>
    </ol>
    <h2 class="text-xl font-bold mb-1">
      Cookies and other tracking technologies
    </h2>
    <p class="mb-4">
      We may use cookies and other tracking technologies on our website to
      collect information about your use of our website. This information may
      include your IP address, browser type, and operating system. We may use
      this information to analyze trends and user behavior on our website, and
      to improve our website and its content.
    </p>
    <h2 class="text-xl font-bold mb-1">Security</h2>
    <p class="mb-4">
      We take reasonable measures to protect your personal information from
      unauthorized access, use, or disclosure. However, we cannot guarantee the
      security of your personal information.
    </p>
    <h2 class="text-xl font-bold mb-1">Children's privacy</h2>
    <p class="mb-4">
      Our website is not directed to children under the age of 13, and we do not
      knowingly collect personal information from children under the age of 13.
    </p>
    <h2 class="text-xl font-bold mb-1">Changes to this Privacy Policy</h2>
    <p class="mb-4">
      We may update this Privacy Policy from time to time. If we make material
      changes to this Privacy Policy, we will notify you by posting a notice on
      our website.
    </p>
    <h2 class="text-xl font-bold mb-1">Contact us</h2>
    <p class="mb-4">
      If you have any questions or concerns about this Privacy Policy, please
      contact us at [Your Contact Information].
    </p>
  </article>
</Layout>
